{% load contact_tag %}
{% load flatpages %}
<footer class="editContent">
    <div class="container">
        <div class="row footer-top">

        <div class="mmiddle1">
            <div class="mmiddle">
                  <a class="mbtn" href="https://www.facebook.com/profile.php?id=100000641848830">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a class="mbtn" href="https://www.linkedin.com/in/tores-kun/">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a class="mbtn" href="https://github.com/tores-kun">
                    <i class="fab fa-github"></i>
                  </a>
                  <a class="mbtn" href="https://www.youtube.com/channel/UCXEg98sg4c6tSOJax1GjXjg">
                    <i class="fab fa-youtube"></i>
                  </a>
            </div>
        </div>
            <div class="col-lg-8 footer-right">
                <div class="w3layouts-news-letter">
                    {% contact_form %}
                </div>
                <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                    <div class="col-md-4 footer-grid_section_w3layouts">
                        <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">
                            Разделы</h3>
                        <ul class="list-unstyled w3layouts-icons">
                            <li>
                                <a href="/" class="editContent">Главная</a>
                            </li>
                            {% get_flatpages as flatpages %}
                            {% for page in flatpages %}
                            <li><a href="/pages{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent">
                            Контактная информация</h3>
                        <div class="contact-info">
                            <div class="footer-address-inf my-4">
                                <h4 class="ad-info mb-2 editContent">Email </h4>
                                <p class="editContent"><a href="mailto:info@example.com">info@example.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left">
                <a href=#>.</a>
            </p>
            <a href="/" class="move-top text-right col-md-2"><span
                    class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
        </div>
    </div>
</div>
